.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(34, 123, 146);
  height: 200vh; 
}

h3, h1, p{
  line-height: 2.2;
  text-align: center;
}

.header{
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar {
  background-color: rgb(136, 197, 211);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(4, 134, 4);
  border-radius: 40px;
}

.navbar-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-list li {
  margin: 0 20px;
  transition: transform 0.2s ease-in-out;
}

.navbar-list li:hover {
  transform: scale(1.1);
}
.navbar-list a {
  text-decoration: none;
  color: rgb(9, 98, 121);
  font-weight: bold;
  padding: 5px 10px;
}

.navbar-list a:hover {
  color: black;
  background-color: rgb(136, 197, 211);
  border-radius: 10px;
}

.Me img {
  padding: 7px;
  background-color: white;
}

.Me {
  padding: 7px;
  background-color: rgb(136, 197, 211);
  display: flex;
  width: 60vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;

}

.Info {
  padding: 10px;
  line-height: 2.0;
  font-size: 20px;
  margin: 40px 0;
}

#experience {
  padding: 45px;

}

.experience-cards {
  padding: 10px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;

}

.experience-card {
  background-color: white;
  padding: 20px;
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.experience-card:hover {
  transform: scale(1.05);
  color: rgb(9, 98, 121);
  background-color: rgb(136, 197, 211);
}
#socials {
  padding: 45px;
}

.LinkedInIcon {
  color: rgb(136, 197, 211);
  display: flex;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}

.LinkedInIcon:hover{
  cursor: pointer;
  transform: scale(1.1);
}


#resume {
  padding: 45px;
}

.resume {
  padding: 10px;
  background-color: rgb(136, 197, 211);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(136, 197, 211);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(101, 179, 197);
}